
    
    

        <div class="sidebar">
        <div class ="title">Pokemons</div>
        <div class ="grid-container">
            <div *ngIf="success">
                The operation was successful!
                <button class="btn" (click)="cancelmessage()">OK</button>
            </div>
            <div *ngIf="failure">
                The operation has Failed!
                <button class="btn" (click)="cancelmessage()">OK</button>
            </div>
            
            <button class="btn btn-primary btn-rounded-corners add-button" (click)="showform(Input1.value)" >Add Pokemons</button>
            <button class="btn btn-rounded-corners  btn-primary" (click)="showget(Input1.value)">Search a Pokemon</button>
            <button class="btn btn-rounded-corners  btn-primary" (click)="ngOnInit()">Cancel the search</button>
            <button class="btn btn-rounded-corners  btn-primary" (click)="checkrol(Input1.value)">Show all Pokemons</button>
            <label>Mandatory:</label> <input #Input1 type="text" class="form-control has-background-light" placeholder="Enter your ID">
    <div *ngIf="showgetflag">

    <input #nombre type="text" class="form-control has-background-light" placeholder="Nombre del Pokémon"><br>
    <button class="btn btn-primary " (click)="getByName(Input1.value, nombre.value)">Search by name</button><br>
    <input #ID type="text" class="form-control has-background-light" placeholder="ID del Pokémon"><br>
    <button class="btn btn-primary " (click)="getByID(Input1.value, ID.value)">Search by ID</button><br>
    <button class="btn "(click)="cancel()"> Cancel</button>
    </div>
    
        <div *ngIf="showformflag">
            <input #pokemonInput1 type="text" class="form-control has-background-light" placeholder="Enter Pokemon name">
            <input #pokemonInput2 type="number" class="form-control has-background-light" placeholder="Enter Pokemon number">
            <select #pokemonInput3 class="form-control has-background-light">
                <option value="">Enter Pokemon generation</option>
                <option value="1">Primera generación</option>
                <option value="2">Segunda generación</option>
                <option value="3">Tercera generación</option>
                <option value="4">Cuarta generación</option>
                <option value="5">Quinta generación</option>
                <option value="6">Sexta generación</option>
                <option value="7">Séptima generación</option>
                <option value="8">Octava generación</option>
            </select><br>
            <select #pokemonInput4 type="text" class="form-control has-background-light">
                <option value="">Enter Pokemon region</option>
                <option value="Kanto">Kanto</option>
                <option value="Johto">Johto</option>
                <option value="Hoenn">Hoenn</option>
                <option value="Sinnoh">Sinnoh</option>
                <option value="Teselia">Teselia</option>
                <option value="Kalos">Kalos</option>
                <option value="Alola">Alola</option>
                <option value="Galar">Galar</option>
            </select><br>


            <select #pokemonInput5 type="text" class="form-control has-background-light">
                <option value="">Enter Pokemon type</option>
                <option value="Acero">Acero</option>
                <option value="Agua">Agua</option>
                <option value="Bicho">Bicho</option>
                <option value="Dragón">Dragón</option>
                <option value="Eléctrico">Eléctrico</option>
                <option value="Fantasma">Fantasma</option>
                <option value="Fuego">Fuego</option>
                <option value="Hada">Hada</option>
                <option value="Hielo">Hielo</option>
                <option value="Lucha">Lucha</option>
                <option value="Normal">Normal</option>
                <option value="Planta">Planta</option>
                <option value="Psíquico">Psíquico</option>
                <option value="Roca">Roca</option>
                <option value="Siniestro">Siniestro</option>
                <option value="Tierra">Tierra</option>
                <option value="Veneno">Veneno</option>
                <option value="Volador">Volador</option>
            </select> <br>
            <select #pokemonInput6 type="text" class="form-control has-background-light">
                <option value="">¿Does the Pokemon evolve?</option>
                <option value="true">yes</option>
                <option value="false">No</option>
            </select><br>
            <select #pokemonInput7 type="text" class="form-control has-background-light">
                <option value="">Is the Pokemon legendary?</option>
                <option value="true">yes</option>
                <option value="false">No</option>
            </select><br>
            <input #pokemonInput8 type="number" class="form-control has-background-light" placeholder="Enter quantity">
            <input #pokemonInput9 type="number"  class="form-control has-background-light" placeholder="Enter price"> <br>
            <button class="btn "(click)="cancel()"> Cancel</button>
            <button class="btn btn-primary" (click)="addPokemon(Input1.value,pokemonInput1.value,pokemonInput2.valueAsNumber, +pokemonInput3.value, pokemonInput4.value,pokemonInput5.value, getBoolean(pokemonInput6.value), getBoolean(pokemonInput7.value)!,pokemonInput8.valueAsNumber,pokemonInput9.valueAsNumber)" routerLink="/">Add</button>
        </div>
    </div> 
    
    <div *ngIf="rest">
    <div class="grid-container">
        
        <p class="black-text " *ngFor="let item of pokemons" >
          <ng-template [ngIf]="item.legendario" >
            <div class = "poklegend grid-item ">
          ID:{{item._id}}  <br> <img [src]="url1 + item.numero.toString().padStart(3, '0') + url2" width="300" height="300"> <br> Name:{{item.nombre}}   <br> Number:{{item.numero}}<br> Generation:{{item.generacion}} <br> Region:{{item.region}}<br> Type:{{item.tipo}} <br> Evolves?:{{item.evolucion}}<br> Legendary?:{{item.legendario}} <br>Quantity:{{item.cantidad}} <br> Price:{{item.precio}}$
                </div>
        </ng-template>
        <ng-template [ngIf]="!item.legendario" >
            <div class="grid-item">
                ID:{{item._id}} <br> <img [src]="url1 + item.numero.toString().padStart(3, '0') + url2" width="300" height="300"> <br>  Name:{{item.nombre}}  <br> Number:{{item.numero}}<br> Generation:{{item.generacion}} <br> Region:{{item.region}}<br> Type:{{item.tipo}} <br> Evolves?:{{item.evolucion}}<br> Legendary?:{{item.legendario}} <br>Quantity:{{item.cantidad}} <br> Price:{{item.precio}}$
        </div>
        </ng-template>
        <button class="btn btn-primary btn-rounded-corners" routerLink="/" (click)="deletePokemon(item,Input1.value)" >
        Delete pokemon
        </button>
        <button class="btn btn-primary btn-rounded-corners" (click)="modify(item,Input1.value)" >
            Modify pokemon
            </button>
       </p>
    </div>
    
    
    
    </div>
    <div *ngIf="showmodifyflag" class="grid-item">
        <label>Nombre:</label>
      <input  #pokemonInput1 [(ngModel)]="pokemonSeleccionado.nombre" name="nombre" type="text">
      <br>
      <label>Numero:</label>
      <input  #pokemonInput2 [(ngModel)]="pokemonSeleccionado.numero" name="numero" type="number" >
      <br>
      <label>Generacion:</label>
      <select  #pokemonInput3 [(ngModel)]="pokemonSeleccionado.generacion" class="form-control has-background-light">
        <option value="">Seleccionar una generación</option>
        <option value="1">Primera generación</option>
        <option value="2">Segunda generación</option>
        <option value="3">Tercera generación</option>
        <option value="4">Cuarta generación</option>
        <option value="5">Quinta generación</option>
        <option value="6">Sexta generación</option>
        <option value="7">Séptima generación</option>
        <option value="8">Octava generación</option>
    </select>
    <br>
    <label>Region:</label>
    <select  #pokemonInput4 [(ngModel)]="pokemonSeleccionado.region" type="text" class="form-control has-background-light">
        <option value="">Seleccionar una región</option>
        <option value="Kanto">Kanto</option>
        <option value="Johto">Johto</option>
        <option value="Hoenn">Hoenn</option>
        <option value="Sinnoh">Sinnoh</option>
        <option value="Teselia">Teselia</option>
        <option value="Kalos">Kalos</option>
        <option value="Alola">Alola</option>
        <option value="Galar">Galar</option>
    </select>
    <br>
    <label>Tipo:</label>
    <select  #pokemonInput5 [(ngModel)]="pokemonSeleccionado.tipo" type="text" class="form-control has-background-light">
        <option value="">Seleccionar el primer tipo Pokémon</option>
        <option value="Acero">Acero</option>
        <option value="Agua">Agua</option>
        <option value="Bicho">Bicho</option>
        <option value="Dragón">Dragón</option>
        <option value="Eléctrico">Eléctrico</option>
        <option value="Fantasma">Fantasma</option>
        <option value="Fuego">Fuego</option>
        <option value="Hada">Hada</option>
        <option value="Hielo">Hielo</option>
        <option value="Lucha">Lucha</option>
        <option value="Normal">Normal</option>
        <option value="Planta">Planta</option>
        <option value="Psíquico">Psíquico</option>
        <option value="Roca">Roca</option>
        <option value="Siniestro">Siniestro</option>
        <option value="Tierra">Tierra</option>
        <option value="Veneno">Veneno</option>
        <option value="Volador">Volador</option>
    </select>
    <br>
    <label>Evolucion:</label>
    <select #pokemonInput6 [(ngModel)]="pokemonSeleccionado.evolucion" type="text" class="form-control has-background-light">
        <option value="">¿Evoluciona el Pokémon?</option>
        <option value="true">Sí</option>
        <option value="false">No</option>
    </select>     
    <br>  
    <label>Legendario:</label>
    <select  #pokemonInput7 [(ngModel)]="pokemonSeleccionado.legendario" type="text" class="form-control has-background-light">
        <option value="">¿Es legendario?</option>
        <option value="true">Sí</option>
        <option value="false">No</option>
    </select>
    <br>
    <label>Cantidad:</label>
    <input  #pokemonInput8 [(ngModel)]="pokemonSeleccionado.cantidad" type="number" class="form-control has-background-light" placeholder="Enter quantity">
    <br>
    <label>Precio:</label>
    <input  #pokemonInput9 [(ngModel)]="pokemonSeleccionado.precio" type="number" class="form-control has-background-light" placeholder="Enter price"> 
    <br>
        <button class="btn " (click)="cancel()"> Cancel</button>
        <button class="btn btn-primary"  (click)="modifyPokemon(Input1.value, pokemonSeleccionado._id,pokemonInput1.value, pokemonInput2.valueAsNumber, +pokemonInput3.value, pokemonInput4.value, pokemonInput5.value, getBoolean(pokemonInput6.value), getBoolean(pokemonInput7.value)!, pokemonInput8.valueAsNumber, pokemonInput9.valueAsNumber)" >Modify</button>
    </div>
    
    </div>

