
<nav class="navbar navbar-light bg-light navbar-centered">
  <a class="navbar-brand" href="#">
      <img src="../../../assets/img/pokemon-trainer.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Gestión Usuarios
  </a>
  <span class="example-spacer"></span>
  <button  mat-button class="btn btn-rounded-corners  btn-primary mt-3" (click)="showeliminate()">Eliminar</button>
  <button  mat-button class="btn btn-rounded-corners  btn-primary mt-3" (click)="showconsulta()">Consulta usuarios</button>
  <button  mat-button class="btn btn-rounded-corners  btn-primary mt-3" (click)="showcreate()">Crear nuevo usuario</button>
  <span class="example-spacer"></span>
</nav>



<div class="body">
 
  <div *ngIf="showconsultaflag">
  <div class="login">
   
        
            <img src="../../../../assets/img/jigglypuff.png"  alt="" width="50%" height="50%">
            <h1 class="h3 mb-3 fw-normal">Introduce tu ID de Administrador</h1>
           
                <input   #userInput1 type="text" class="form-control has-background-light" placeholder="ID">
              <br>
              <mat-label>Rol</mat-label>
        <select #input2 matNativeControl required formControlName ="rol">
          <option value="Administrador">Administrador</option>
          <option value="Cliente">Cliente</option>
        </select>
        <br><br><br>

              
              <button  type = "submit" class="ancho" mat-raised-button mat-button color="primary"(click)="permitir(userInput1.value)">Buscar todos</button>
             <br> <br>
              <button  type = "submit" class="ancho" mat-raised-button mat-button color="primary"(click)="rollist(userInput1.value,input2.value)">Buscar por Rol</button>
            </div>
    
  </div>



  <div *ngIf="showcreateflag">
  <div class="login">
<form [formGroup]="form" (ngSubmit)="ingresar()">
    
        <img src="../../../assets/img/pokemon-trainer.png"  alt="" width="50%" height="50%">
        <h1 class="h3 mb-3 fw-normal">Crear nuevo usuario</h1>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput autocomplete="off" formControlName ="usuario">
          </mat-form-field><br>

          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Selecciona el Rol: </mat-label>
            <select  matNativeControl required formControlName ="rol">
              <option value="Administrador">Administrador</option>
              <option value="Cliente">Cliente</option>
            </select>
          </mat-form-field><br>
          
          <button  type = "submit" class="ancho" mat-raised-button mat-button color="primary">Añadir</button>
  </form>
</div>
</div>



<div *ngIf="showeliminateflag">
  <div class="text-center">
  <h2>Darse de baja</h2>
  </div>
  <br>
  <br>
  <div class="login">
        <img src="../../../../assets/img/caterpie.png"  alt="" width="50%" height="50%">
            <br>
          <mat-label>Introduce el ID del usuario a eliminar </mat-label>
          <input   #userInput2 type="text" class="form-control has-background-light" placeholder="ID">
        <br>
         <br>

          <button  type = "submit" class="ancho" mat-raised-button mat-button color="primary" (click)="eliminar(userInput2.value)">Eliminar</button>
  
</div>
</div>





<div *ngIf="showconsultaresultflag">
  
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card centered">
          <div class="card-body text-center">
            <br>
            <table *ngIf="usuarios.length > 0" class="table table-striped mt-3">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Rol</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios ">
                  <td>{{ usuario._id }}</td>
                  <td>{{ usuario.nombre }}</td>
                  <td>{{ usuario.rol }}</td>
                </tr>
              </tbody>
            </table>
            <h5 style="text-align: start; margin-top: 10px;" *ngIf="usuarios.length == 0">No hay usuarios para mostrar</h5>
            <div class="d-flex justify-content-center">
              <button type="submit" class="ancho" mat-raised-button mat-button color="primary" (click)="cancellist()">Home</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>